@page "/authors"

<h3>Authors</h3>

@if (!_response.Success)
{
    <div class="alert alert-danger">
        <h4>@_response.Message</h4>
    </div>
}
else
{
    @if (Authors == null)
    {
        <div class="alert alert-info">
            <h4>Loading...</h4>
        </div>

    }
    else
    {
        <AuthorizeView Roles="Admin">
            <Authorized>
                <a class="btn btn-primary" href="/authors/create"><span class="oi oi-plus" aria-hidden="true"></span> Create</a>
            </Authorized>
        </AuthorizeView>

        <br/>

        <AuthorTable Authors="Authors" TotalSize="TotalSize" OnScroll="LoadAuthors" />
    }
}
